<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />

        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <title>Tree.io</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
            />
        <style>
            :root {
                --animate-delay: 2s;
            }
            bg-image{
                background-size:cover; 
            }
            img{
                width:cover;  
            }
            .tooltip{
                font-size: 2rem;
            }
            .my-element {
                display: inline-block;
                margin: 0 0.5rem;

                animation: bounce; /* referring directly to the animation's @keyframe declaration */
                animation-duration: 2s; /* don't forget to set a duration! */
            }
            .animate__animated.animate__bounce {
                --animate-duration: 1s;
            }
        </style>
    </head>
    <body>
        <script>
   $(document).ready(function(){
   $('[data-toggle="tooltip"]').tooltip(); 
  
   });


        </script>
        <nav class="navbar navbar- bg-white justify-content-between"></nav>
        <div class="bg-image" style="background-image:url('../desert1.jpg')">
            <div class="container-fluid">
                <div class="row">
                     <div class="col-2"></div>
                    <div class="col-1">
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>   
                        <br></br>
                        <br></br> 
                        <br></br>
                        <br></br>   
                        <br></br>    
                        <br></br>
                        <br></br>    
                        <br></br>   
                        <br></br>    
                        <br></br>
                        <br></br>  
                        <br></br> 
                        <br></br> 
                        <img src="../sn.png" class="rounded"width="200" data-toggle="tooltip" data-placement="top" title="Snake"/>
                    </div>
                      <div class="col-1"></div>
                    <div class="col-1">
                        <br></br>
                        <br></br> 
                        <br></br> 
                        <br></br>  
                        <br></br> 
                        <br></br> 
                        <br></br>
                        <br></br> 
                        <br></br> 
                        <br></br>
                        <br></br> 
                      <br></br>
                        <br></br>
                       
                        <img src="../muka.png" class="rounded"width="50" data-toggle="tooltip" data-placement="top" title="Cactus"/>
                    </div>
                  
                    <div class="col-1">
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>   
                        <br></br>
                        <br></br> 
                        <br></br>
                        <br></br>  
                        <br></br> 
                        <br></br> 
                        <br></br> 
                        <br></br> 
                        <br></br>
                       
                        <img src="../ou.png" class="rounded"width="400" data-toggle="tooltip" data-placement="top" title="Camel"/>
                    </div>
                     <div class="col-3"></div>
                     <div class="col-1"></div>
                    <div class="col-1">
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>   
                        <br></br>
                        <br></br> 
                        <br></br>
                        <br></br>  
                        <br></br> 
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>

                        <img src="../sc.png" class="rounded"width="150" data-toggle="tooltip" data-placement="top" title="Scorpion"/>
                             <br></br>
                        <br></br>
                        <br></br>
                        <a href = "/index">
                            <img src="../home.png" class="rounded"width="130">
                        </a>
                    </div> 
                    <div class="col-1">
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>
                        <br></br>   
                        <br></br>
                        <br></br> 
                        <br></br>
                        <br></br>  
                        <br></br> 
                        <br></br>
                        <br></br>  
                        <img src="../m2.png" class="rounded"width="50" data-toggle="tooltip" data-placement="top" title="im here"/>
                    </div>
                
                </div> 
            </div> 
        </div>  
        <nav class="navbar navbar- bg-white justify-content-between"></nav>
    </body>
</html>
